body
{
    background-color: rgb(241, 241, 241);
    font: normal 15 pt inter;
    margin: 0%;
    padding: 0%;
}
header
{
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(225, 243, 255);
    margin-bottom: 15px;
    height: 70px;
   

}

.testeh1{
    margin: 0px;
    width: 300px;
}
section
{
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin: auto;
    text-align: left;
    margin-top: 20px;
    grid-gap: 50px; 
    padding-top: 10px;
    font-size: 17px;
    color: rgb(65, 65, 65);
    
}
.pesq
{
    padding: 17px;
    width: 310px;
    border-radius: 40px;
    border: 0;
    
}
.pesq1
{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.comp
{
    font-size: 25px;
    line-height: 24.2px;
    color: black;
}
.logo
{
    width: 97px;
    height: 39px;
    left: 253px;
    padding-left: 200px;
    justify-content: center;
}
.und
{
    text-decoration: underline;
}
.img
{
    padding: 8px;
    width: 280px;
    
}
.foto2
{
    padding: 8px;
    width: 50px;
    margin-left: 25px;
}

.editar{
    border: 0;
    border-radius: 10px;
    background-color: #0d7fc2;
    font-size: larger;
    height: max-content;
    width: max-content;
    color: white;
    padding: 8px 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    border: 2px solid #0d7fc2;

}

.excluir{
    border: 0;
    border-radius: 10px;
    border: 2px solid rgb(228, 53, 53);
    font-size: larger;
    height: max-content;
    width: max-content;
    color: #000;
    padding: 8px 32px;
    background-color: transparent !important;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.botoes{
    display: flex;
    justify-content: space-between;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
}
.container-popup{
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.popup{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    size: 50px;
    background-color: white;
    font-size: larger;
    height: max-content;
    width: max-content;
    padding: 20px;
    border-radius: 17px;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.botsim{
    border: 0;
    background-color: red;
    border-radius: 15px;
    height: 50px;
    width: 80px;
    font-size: x-large;
    color: white;
}

.botnao{
    border: 0;
    border-radius: 15px;
    height: 50px;
    width: 80px;
    font-size: x-large;
    color: white;
}

.card {
    background-color: rgb(199, 199, 199) !important;
    border-radius: 10px;
    padding: 16px;
    width: 100%;
    height: max-content;
    margin: auto;
    max-width: 340px;
    margin-bottom: 20px;
    border: none !important;
    margin-top: 50px;

}

.card-title{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: #000;
}
.card-title span{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #000;
}

.cabe {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
.menu {
    border: 0;
    background-color: rgb(225, 243, 255);
    display: flex;
    height: 40px;
    width: 40px;
}