body{
    background-image: url('../Imagens/cientista_1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    position: absolute;
    width: 390px;
    height: 88px;
    left: 0px;
    top: 0px;
    background: #ECF8FF;
    }

.inicio{
    position: absolute;
    width: 319.76px;
    height: 632.04px;
    left: 35.66px;
    top: 144.76px;
    background: rgba(0, 91, 144, 0.7);
    border-radius: 25px;
}

.nome{
    position: absolute;
    border-radius: 25px;
    border: 0;
    text-align: center;
    width: 253px;
    height: 54px;
    left: 32px;
    top: 90px;
}

.credenciais{
    position: absolute;
    border-radius: 25px;
    border: 0;
    text-align: center;
    width: 253px;
    height: 54px;
    left: 32px;
    top: 190px;
}
    
h1{
    font-family: 'Inter';
    font-style:normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: white;
    top: 276px;
    margin-top: 26px;
}

.botao{
    position: absolute;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: white;
    border: #00BAE7;
    width: 148px;
    height: 47px;
    background: #00BAE7;
    border-radius: 20px;
    left: 87px;
    top: 510px;
}

.logo{
    position: absolute;
    width: 150px;
    height: 60px;
    left: 120px;
    top: 13px;
    background: #ECF8FF;
}

.senha{
    position: absolute;
    border-radius: 25px;
    border: 0;
    text-align: center;
    width: 253px;
    height: 54px;
    left: 32px;
    top: 290px;
}

.confsenha{
    position: absolute;
    border-radius: 25px;   
    border: 0;
    text-align: center;
    width: 253px;
    height: 54px;
    left: 32px;
    top: 390px;
}